<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passport Local Example</title>
    <!-- Liên kết đến file CSS -->
    <link rel="stylesheet" href="/src/styles/main.css">
</head>
<body>
    {{{body}}}
</body>
</html>
